---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Competences from "../components/competences.astro";
---

<Layout title="Eloi./ck Celeste Portfolio">
  <main class="flex flex-col gap-16">
    <Header />
    <Competences />
  </main>
</Layout>
