<astro>
  <section
    class="bg-competence bg-fill min-h-[190vh] bg-no-repeat flex flex-col justify-center items-center gap-16"
  >
    <h2 class="text-white text-7xl font-bold">Compétences</h2>
    <div class="w-1/2 flex justify-center items-center gap-16 flex-wrap">
      <div
        class="w-96 h-96 bg-blue-300/20 text-white flex flex-col gap-8 p-8 rounded-lg border border-white hover:-translate-y-5 transition-all"
      >
        <h3 class="text-bold text-4xl">Test</h3>
        <p>Figma, Photoshop, Illustrator</p>
      </div>
      <div
        class="w-96 h-96 bg-blue-300/20 text-white flex flex-col gap-8 p-8 rounded-lg border border-white hover:-translate-y-5 transition-all"
      >
        <h3 class="text-bold text-4xl">Test</h3>
        <p>Figma, Photoshop, Illustrator</p>
      </div>
      <div
        class="w-96 h-96 bg-blue-300/20 text-white flex flex-col gap-8 p-8 rounded-lg border border-white hover:-translate-y-5 transition-all"
      >
        <h3 class="text-bold text-4xl">Test</h3>
        <p>Figma, Photoshop, Illustrator</p>
      </div>
      <div
        class="w-96 h-96 bg-blue-300/20 text-white flex flex-col gap-8 p-8 rounded-lg border border-white hover:-translate-y-5 transition-all"
      >
        <h3 class="text-bold text-4xl">Test</h3>
        <p>Figma, Photoshop, Illustrator</p>
      </div>
    </div>
  </section>
</astro>

<style>
  .bg-competence {
    background-image: url("/public/Images/bg-comp.png");
  }

  h2 {
    font-family: "Celeste", sans-serif;
  }
</style>
